####### Base Dirs
### Storage
STORAGE_DIR="/data/storage/1"
### Projects
PROJECT_DIR="$STORAGE_DIR/projects"
### Volumes
VOLUME_DIR="$STORAGE_DIR/volumes"

####### RetainDB
RETAINDB_VOLUMES="$VOLUME_DIR/retaindb"
RETAINDB_API_KEY="changeme"
RETAINDB_HOME_VOLUME="$RETAINDB_VOLUMES/home"
RETAINDB_HOME="/home/retaindb"
RETAINDB_STORE="/home/retaindb/local-store.json"
RETAINDB_API_HOST_PORT="0.0.0.0:3111"
RETAINDB_API_CONTAINER_PORT="3111"
RETAINDB_DASH_HOST_PORT="0.0.0.0:3113"
RETAINDB_DASH_CONTAINER_PORT="3113"

####### Traefik
TRAEFIK_VOLUMES="$VOLUME_DIR/traefik"
TRAEFIK_CERTS_VOLUME="$TRAEFIK_VOLUMES/certs"
ACME_EMAIL="you@example.com"
CF_DNS_API_TOKEN="changeme"
TRAEFIK_DASHBOARD_AUTH_USERS="admin:$2y$05$CHANGEME_BCRYPT_HASH"
